node_modules
.next
out
.vercel
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Données locales et script d'import
donnees_a_importer/
scripts/import-donnees-glide.sql

